<div class="auth-container">
  <div class="auth-card">
    <h2>Iniciar Sesión</h2>

    <form (ngSubmit)="onEnviar()">
      <div class="form-group">
        <label>Correo Electrónico</label>
        <input
          type="email"
          name="correo"
          [(ngModel)]="credenciales.correo"
          required
          placeholder="tu@email.com"
        />
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input
          type="password"
          name="password"
          [(ngModel)]="credenciales.password"
          required
          placeholder="********"
        />
      </div>

      @if (mensajeError) {
      <p class="error-msg">{{ mensajeError }}</p>
      }

      <button type="submit" class="btn-primary">Entrar</button>

      <div class="register-link">
        <p>¿No tienes cuenta?</p>
        <button type="button" class="btn-secondary" routerLink="/registro">Registrarse</button>
      </div>
    </form>
  </div>
</div>
